* {
	margin: 0;
	padding: 0;
}

	html,
	body,
	.content-wrapper,
	.resume-div {
		height: 100%;
	}

body {
	background-color: RGBA(44, 46, 54, 1);
}

img {
	display: block;
	margin: auto;
}

@media only screen and (max-width: 600px) {
	
	#phone-media-resume {
		height: 100%;
		width: 100%;
	}

}

