* {

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

/*-- fluid width and larger display width -- */
.grid-container {

    width : 100%;
    max-width : 100%; 
    
}

/*-- clearfix hack to contain rows -- */ 
.row:before, 
.row:after {

    content:"";
    display: table ;
    clear:both;
     
}

.basic-info {

    background-image: url(http://i.imgur.com/dg0vV8J.jpg);
    background-size: cover;
    opacity: .95;
    background-position-y: -150px;
    max-width: 1440px;

}

.basic-info,
.basic-info-row {

    height: 600px;

}

.basic-info-row {

    background-color: RGBA(39, 40, 33, .2);

} 

.icon-row {

    height: 64px;
    display: inline-block;
    margin: 20px 0 0 20px;

}

/*-- selects all col- class and gives float left --*/
[class*='col-'] {
  float: left;
}

.name-and-title {

    text-align: center;
    margin-top: 225px;
    letter-spacing: .05em;

}

.name-and-title h1 {

	font-size: 7em;
    letter-spacing: 5px;

}

.name-and-title h1,
.name-and-title h2 {

    color: white;

}

.linkedin-icon {

    background-image: url(http://i.imgur.com/b1nrLsw.png);

}

.github-icon {

    background-image: url(http://i.imgur.com/Oq7OqZJ.png);
    background-position-y: 8px;
    background-repeat: no-repeat;

}

.linkedin-icon,
.github-icon {

    display: inline-block;

}

.linkedin-icon,
.github-icon {

    height: 64px;
    width: 64px;

}

.linkedin-icon a,
.github-icon a {

    height: 100%;
    display: inline-block;
    width: 100%;
    
}

.project-gallery-section {

    background-color: RGB(39, 40, 33);
    height: 800px;
	
}

.project-title-div {

    padding-top: 50px;

}

.project-title-div h1 {

    background-color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: RGB(39, 40, 33);
    font-size: 2em;

}

.project-row {

    height: 300px;
    padding-top: 100px

}

.first-project {

    width: 25%;
    height: 100%;
    background-color: white;
    margin-left: 8.33%;

}

.second-project {

    width: 25%;
    height: 100%;
    background-color: white;
    margin: 0 4.165% 0 4.165%;

}

.third-project {

    width: 25%;
    height: 100%;
    background-color: white;
    margin-right: 8.33%;

}














