* {

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

html,
body {

    height: 100%;

}

/*-- fluid width and larger display width -- */
.grid-container {

    width : 100%;
    max-width : 100%; 
    
}

/*-- clearfix hack to contain rows -- */ 
.row:before, 
.row:after {

    content:"";
    display: table ;
    clear:both;
     
}

.basic-info {

    background: url(http://i.imgur.com/pjyT4Hn.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .95;
    background-position-y: 60%;
    max-width: 2400px;

}

.basic-info,
.basic-info-row {

    height: 600px;
    width: 100%;

}

.icon-row {

    height: 64px;
    display: inline-block;
    margin: 20px 0 0 20px;
    position: fixed;    

}

/*-- selects all col- class and gives float left --*/
[class*='col-'] {
  float: left;
}

.col-one-third {

    width: 33.33%;

}

.col-two-thirds {

    width: 66.66%;

}

.name-and-title {

    text-align: center;
    margin-top: 225px;
    letter-spacing: 1em;
    font-size: 12px;

}

.name-and-title h1 {

	font-size: 7em;
    letter-spacing: 5px;

}

.name-and-title h2 {

    border-bottom: 2px solid white;
    width: 60%;
    margin: auto;

}

.name-and-title h1,
.name-and-title h2 {

    color: white;

}

.linkedin-icon {

    background-image: url(http://i.imgur.com/b1nrLsw.png);

}

.github-icon {

    background-image: url(http://i.imgur.com/Oq7OqZJ.png);
    background-position-y: 8px;
    background-position-x: 8px; 
    background-repeat: no-repeat;

}

.resume-icon {
    background-image: url(http://i.imgur.com/S3EgKEO.png);
    background-size: cover;
    transform: scale(0.75);
}

.linkedin-icon,
.github-icon,
.resume-icon {

    display: inline-block;

}

.linkedin-icon,
.github-icon,
.resume-icon {

    height: 64px;
    width: 64px;

}

.linkedin-icon a,
.github-icon a {

    height: 100%;
    display: inline-block;
    width: 100%;

}

.project-gallery-section,
.about-section {

    background-color: RGB(39, 40, 33);
    height: 700px;
	
}

.project-title-div {

    padding-top: 50px;

}

.project-title-div h1,
.about-title-div h1 {

    background-color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: RGB(39, 40, 33);
    font-size: 2em;

}

.project-row {

    height: 350px;
    padding-top: 100px;

}

.first-project {

    margin-left: 8.33%;
    visibility: hidden;

}

.second-project {

    background-color: white;
    margin: 0 4.165% 0 4.165%;
    background-image: url(http://i.imgur.com/70fKFnz.png);
    background-size: cover;
    background-position-x: 50%;

}

.second-project > a {

    display: inline-block;
    height: 100%;
    width: 100%;

}

.third-project {

    margin-right: 8.33%;
    visibility: hidden;

}

.first-project,
.second-project,
.third-project {

    height: 100%;
    width: 25%;

}

.project-wrapper {

    position: relative;
    color: white;

}

.tooltip {

    opacity: 0;
    background-color: RGBA(39, 149, 191, 1);
    display: block;
    height: 200px;
    position: absolute;
    bottom: 105%;

}

.project-wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

.project-wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.project-wrapper:hover .tooltip{

    opacity: 1;

} 

.tooltip p {

    padding: 10px;

}

.about-row {

    height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 150px;

}

.about-img {

    background-image: url(http://i.imgur.com/7s7kO5W.jpg);
    background-size: cover;
    background-position-y: 40%; 

}

.about-img,
.about-info {

    height: 100%;

}

.about-info p {

    line-height: 1.5em;
    font-size: 18px;
    padding-top: 2%;

}

.about-info h1 {

    font-size: 30px;

}

.about-info p,
.about-info h1 {

    color: white;
    padding-left: 10%;
    
}

@media (max-width: 450px) {

    .icon-row {

        margin: 20px 0 0 0;

    }

    .basic-info {

        height: 600px;
        background-position-x: 35%;

    }

    .name-and-title {

        margin-top: 400px;
        font-size: 10px;
        letter-spacing: .05em;

    }

    .name-and-title h2 {

        width: 80%;

    }

    .project-row {

        padding-top: 50px;

    }

    .first-project,
    .third-project {

        height: 0;
        margin: 0;

    }

    .second-project {

        width: 100%;
        margin: 0;
        /*background-position-x: -160px;*/

    }

    .about-row {

        height: 500px;

    }

    .about-info {

        width: 100%;

    }

    .about-info h1 {

        padding: 0;
        border-bottom: 1px solid white;

    }

    .about-info p {

        padding: 0;
        font-size: 18px;
        line-height: 2em;

    }

    .about-img {

        display: none;

    }

    .tooltip {

        display: none;

    }

}

@media (min-width: 2399px) {

    .basic-info {

        background-position-y: 35%;

    }

    .basic-info,
    .basic-info-row {

        height: 1100px;

    }    

    .name-and-title {

        margin-top: 775px;
        font-size: 22px;

    }

    .project-title-div h1,
    .about-title-div h1 {

        height: 75px;
        line-height: 75px;
        font-size: 3em;

    }

    .project-row {

        height: 400px;

    }

    .about-section {

        height: 900px;

    }

    .about-row {

        height: 650px;
        margin-top: 100px;

    }

    .about-info h1 {

        font-size: 4em;

    }

    .about-info p {

        font-size: 2em;

    }

}











